$center:center;
$color1:rgb(0,221,242);
$color2:rgba(0,221,242,1);
$color3:rgba(193,3,196,1);
*{box-sizing: border-box;margin: 0;}
body{
    @extend %Background;
}
h1{
    text-align: $center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;   
}
.card{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, 10%);
    padding: 10px;
}

.col-form-label{
     .forget{
    display: block;
    margin-top: 10px;
    }
}
.customInput{
    border:0px;
    border-bottom: 1px solid black;
    width: 30em;
}
.forget{
    margin-left: 320px;
}
.btn-colored{
    @extend %Background;
    color: #FFF;
    border-radius: 30px;
    width: 30em;
    margin-top: 35px;
}
.another{
    text-align: $center;
    margin-top: 35px;
}
ul{
    li{
        list-style: none;
        float: left;
        margin-left: 65px;
        .Facebook{
            color:royalblue;
            &:hover{
                color:blue;
                transition: 0.5s;
            }
        }
        .twitter{
            color:royalblue;
            &:hover{
                color:lightblue;
                transition: 0.5s;
            }
        }
        .google{
            color:orange;
            &:hover{
                color:red;
                transition: 0.5s;
            }
        }
    }
}
 
.move{
    margin-top: 300px;
    a{
        text-align: $center;
    }
    p{
        text-align: $center;
    }
}

.sign-up{
    text-transform: uppercase;
    margin-left: 200px;
}
%Background{
    background: $color1;
    background: -moz-linear-gradient(128deg, $color2 0%, $color3 100%);
    background: -webkit-linear-gradient(128deg, $color2 0%, $color3 100%);
    background: linear-gradient(128deg, $color2 0%, $color3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ddf2",endColorstr="#c103c4",GradientType=1);
}