doctype HTML
html
    head
        title reguster
        meta(chartset="uft")
        link(rel="stylesheet" href="../CSS/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="../CSS/Re.css")
    body
        .container
            .row    
                .col 
                    .card
                        .card-body
                            form(action="/signup" Method="POST" class="needs-validation" novalidate)
                                h1 sign up   
                                .form-row
                                    .col-md-6.mb-3
                                        label(for="validationCustom01") full name
                                        input(type="text" class="form-control" id="validationCustom01" placeholder="Type your first name" name="Fullname" required)
                                        label(for="validationCustom01") username
                                        input(type="text" class="form-control" id="validationCustom01" placeholder="Type your user name" name="username" required)
                                .form-row
                                    .col-md-6.mb-3    
                                        label(for="validationCustom01") password
                                        input(type="password" class="form-control" id="validationCustom01" placeholder="type your Password" name="pass" required)
                                        label(for="validationCustom01") email
                                        input(type="email" class="form-control" id="validationCustom01" placeholder="type your email" name="email" required)
                                .form-group
                                    .form-check
                                        input(class="form-check-input" type="checkbox" value="" id="invalidCheck" required)
                                        label(for="invalidCheck" class="form-check-label") Agree to terms and conditions
                                        button(class="btn btn-primary" type="submit") submit from