<!DOCTYPE html>
<html>
  <head>
    <title>Sign in</title>
    <meta chartset="utf-8">
    <link rel="stylesheet" href="/../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/../CSS/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row">   
        <div class="col"> 
          <div class="card">
            <div class="card-body">
              <form action="/signin" Method="POST">
                <h1>login</h1>
                <label class="col-form-label">username</label>
                <input class="customInput" type="text" name="user" placeholder="type your username">
                <label class="col-form-label">password</label>
                <input class="customInput" type="password" name="pass" placeholder="type your password"><a class="forget" href="#">forget your password?</a>
                <button class="btn btn-colored">sign in</button>
                <p class="another">or sign up using :
                  <ul class="images">  
                    <li> <a href="#"><i class="fa fa-facebook-official fa-4x Facebook"></i></a></li>
                    <li> <a href="#"><i class="fa fa-twitter-square fa-4x twitter"></i></a></li>
                    <li> <a href="#"><i class="fa fa-google-plus-official fa-4x google"></i></a></li>
                  </ul>
                </p>
                <div class="move">
                  <p>you don't have account yet?</p><a class="sign-up" href="register">sign up</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../JS/jquery-3.4.1.min.js"></script>
    <script src="../JS/bootstrap.min.js"></script>
    <script src="../JS/Vue.js"></script>
  </body>
</html>